/* header styles */

.header-card {
    padding: 1rem;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-logo {
    width: 80px;
}

/* footer styles */

.footer {
    padding: 1rem;
    border-top: 1px solid #eee;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f9f9f9;
}

.footer-content{
    max-width: 1280px;
    margin: 0 auto;
    color: #888;
}

/* nav styles */

.nav {
    position: fixed;
    top: 112px; 
    left: 0;
    width: 200px;
    height: calc(100% - 70px); 
    background-color: #f9f9f9;
    border-right: 1px solid #eee;
    padding: 1rem;
    box-sizing: border-box;
}

.nav-link {
    display: block;
    margin-bottom: 1rem;
    color: #a5a5a5;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s ease;
    &:hover {
        color: #000000;
    }
}